[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
simple-salesforce = "*"
django-heroku = "*"
gunicorn = "*"
pyopenssl = "*"
psycopg2-binary = "*"
django-registration-redux = "*"

[requires]
python_version = "3.7"
