{% extends "base.html" %}

{% block content %}
<div class="info-menu">
<p>OC Connect Mobile is a work in progress! Your feedback and recommendations are extremely welcome and can be sent to the contact below.</p>

<p>Email: <a href="mailto:jony@communityef.org" subject="OC%20Connect%20Mobile" target="_top">jony@communityef.org</a></p>

<h2>GENERAL FAQ</h2>
<p><strong>What does OC Connect offer to the public?</strong></p>
<p><a href="http://occonnect.info/">Community Resource Database</a> - A consolidated community listing of 700+ services and resources offered by government and/or non-profit organizations in Orange County.  OC Connect was created and is updated (with love) by the <a href="http://communityempowermentfund.org/">Community Empowerment Fund</a> with support from the Orange County Partnership to End Homelessness and is free and accessible to anyone online at <a href="http://occonnect.info/">occonnect.info</a>. Your feedback, as well as any changes or additions to the database are very welcome!</p>

<p><strong>What does OC Connect offer to Orange County social service partners?</strong></p>
<p>OC Connect is Orange County's Coordinated Entry system that works with households facing homelessness to match them with solutions that best meet their needs. In addition to connecting service providers to community resources, OC Connect administers <a href="https://endhomelessness.org/ending-homelessness/solutions/creating-systems-that-work/">nation-wide best practices</a> that include: homelessness diversion, connection to prevention resources, and a vulnerability assessment that prioritizes and coordinates care for the most vulnerable households in Orange County. The tool is made available exclusively to participating members of the HOME Task Force; for more info please reach out to Corey Root at <a herf="mailto:croot@orangecountync.gov">croot@orangecountync.gov</a>. We are excited about further developing this tool  alongside HMIS systems to meet the needs of coordinated entry in our community!</p>

<p><strong>If you are a nonprofit or government service provider:</strong> Please check to make sure your organization is included and the information is correct. Use the "Submit Correction/Addition/Feedback" button to submit additions or changes.</p>

<p><strong>How was it made?</strong> The OC Connect was created and is maintained by the <a href="http://communityempowermentfund.org/">Community Empowerment Fund</a> with support from the Orange County Partnership to End Homelessness. Information was compiled using existing community resource guides and online information and is verified at least twice a year to ensure accuracy.</p>

<p><strong>Disclaimer:</strong> 
Inclusion in this resource database does not imply endorsement and exclusion does not indicate disapproval. We cannot guarantee nor makes any representations as to the accuracy or completeness of the information contained in its resource database. We disclaim any and all responsibility and liability that may be asserted or claimed resulting from or arising out of reliance upon the information presented in the resource database. We reserve the right to edit information to meet format, guideline, and space requirements. </p>

<p>This website contains hypertext pointers (or "links") to information created and maintained by other public and private organizations. Please be aware that CEF does not control or guarantee the accuracy, relevance, timeliness, or completeness of this outside information. Further, the inclusion of pointers to particular items in hypertext is not intended to reflect their importance, nor is it intended to endorse any views expressed or products or services offered by the author of the reference or the organization operating the server on which the reference is maintained</p>
</div>
{% endblock %}