{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}OC Connect Mobile{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <!-- custom css from main.css -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Bundled scss from webpack -->
        <link rel="stylesheet" href="{% static 'build/bundle.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <!-- bootstrap css and fontawesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        
        <!-- Bundled JS from webpack -->
        <script href="{% static 'build/bundle.js' %}" async></script>
        <script href="{% static 'JavaScript/main.js' %}"></script>
        
    </head>

    <body>

        <div role="banner" class="banner">  
            <h1><a class="mdc-typography--heading4 main-title2" href="{% url 'index' %}"><img src="{% static 'img/occonnect.png' %}" alt="OC Connect Logo" height="42"> OC Connect Mobile</a></h1>
        </div>
        
        <div class="content-container" id="search-options">    
        {% block content %}  {% endblock %}
        </div>
        
        <footer class="accessibility">
            <h2>Accessibility Statement</h2>
            
            <p>OC Connect Mobile is committed to providing a website that is accessible to everyone. To further this commitment, we’re working to implement <a href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines 2.0</a>, which provides standards for making web content more accessible for all site visitors, including people who are blind or visually impaired.
            If you’re having issues accessing any part of this website, we’d like to hear from you:
            <br>
            <a href="info@communityempowermentfund.org" subject="OC%20Connect%20Mobile%20Accessibility" target="_top">info@communityempowermentfund.org</a>
            </p>
        </footer>
    </body>
</html>
