{% extends "base.html" %}

{% block title %} {% endblock %}
{% load static %}
{% block content %}
<div class="content-container">
    <p>Welcome, let's get Connected!</p>
    
    

    <!-- Modal -->

    <!-- County Filter Modal -->
    {% comment %} <div class="mb block">
        <div id="filter01" class="mdc-dialog">
            <div class="mdc-dialog__surface">
               
            <form method="GET" class="modal-content" action="">
                <h3 class="mdc-dialog__header">
                        <h2 class="mdc-dialog__header__title">
                            County
                        </h2>
                    </h3>
                <section class="mdc-dialog__body">
                {% csrf_token %}
                {{ county_form.as_p }}
                </section> 
                <footer class="mdc-dialog__footer">
                        <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="filter">
                        FILTER</button>
                        <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="clear">
                        CLEAR FILTER</button>
                </footer>
            </form>
            </div>
        </div>
                   
    </div> {% endcomment %}

    <!-- City Filter Modal -->
    <div class="mb">
        <div id="filter02" class="mdc-dialog">
            <form method="GET" class="modal-content" action="">

            <h3 class="mdc-dialog__header">
                <h2 class="mdc-dialog__header__title">
                    City
                </h2>
            </h3>
            <section class="mdc-dialog__body">
            {% csrf_token %}
                {{ city_form.as_p }}
            </section>
            <footer class="mdc-dialog__footer">
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="filter">FILTER</button>
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="clear">CLEAR FILTER</button>
            </footer>
            </form>
        </div>
    </div>
    
    <!-- Category Filter Modal -->
    <div class="mb block">
        <div id="filter03" class="mdc-dialog" action="">
            <form method="GET" class="modal-content">
            <h3 class="mdc-dialog__header">
                <h2 class="mdc-dialog__header__title">
                    Category
                </h2>
            </h3>
            <section class="mdc-dialog__body">
            {% csrf_token %}
                {{ category_form.as_p }}
            </section>

            <footer class="mdc-dialog__footer">
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="filter">FILTER</button>
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="clear">CLEAR FILTER</button>
            </footer>
            </form>
        </div>
    </div>
    
    {% comment %} <!-- SubCategory Filter Modal -->
    <div class="mb block">
            <div id="filter04" class="mdc-dialog" action="">
                <form method="GET" class="modal-content">
                <h3 class="mdc-dialog__header">
                    <h2 class="mdc-dialog__header__title">
                        Sub-Category
                    </h2>
                </h3>
                <section class="mdc-dialog__body">
                {% csrf_token %}
                
                    {{ secondary_form.as_p }}
            
                </section>
                <footer class="mdc-dialog__footer">
                    <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="filter">FILTER</button>
                    <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="clear">CLEAR FILTER</button>
                </footer>
                </form>
            </div>
    </div> {% endcomment %}

    <!-- Lucky Search Modal -->
    <div class="mb block">
        <div id="filter05" class="mdc-dialog" action="">
            <form method="GET" class="modal-content">
            <h3 class="mdc-dialog__header">
                <h2 class="mdc-dialog__header__title">
                    Search Term
                </h2>
            </h3>
            <section class="mdc-dialog__body">
            {% csrf_token %}
                {{ lucky_form.as_p }}
            </section>
            <footer class="mdc-dialog__footer">
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="filter">FILTER</button>
                <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" name="clear">CLEAR FILTER</button>
            </footer>
            </form>
        </div>
    </div>

    <h3>Results
    </h3>
    <!-- Emergency, Food, Housing, Goods, Transportation, Health, Finances, Care, Education, Employment, Legal, Communications, One Stop-->
    <!-- List of Filtered Resources -->
     <!-- <div class="container"> -->
    <div id="category-buttons">
        <form id="emergency-search">       
            <button id="emergency-button" class="search-button" type="submit" value="Emergency"><i class="material-icons i-emergency" aria-label="Emergency" aria-hidden="true">error</i>Emergency</button>
        </form>
        <form id="food-search">       
            <button id="food-button" class="search-button" type="submit" value="Food">Food</button>
        </form>
        <form id="housing-search">       
            <button id="housing-button" class="search-button" type="submit" value="Housing">Housing</button>
        </form>
        <form id="goods-search">       
            <button id="goods-button" class="search-button" type="submit" value="Goods">Goods</button>
        </form>
        <form id="transportation-search">       
            <button id="transportation-button" class="search-button" type="submit" value="Transportation">Transportation</button>
        </form>
        <form id="health-search">       
            <button id="health-button" class="search-button" type="submit" value="Health">Health</button>
        </form>
        <form id="finances-search">       
            <button id="finances-button" class="search-button" type="submit" value="Finances">Finances</button>
        </form>
        <form id="care-search">       
            <button id="care-button" class="search-button" type="submit" value="Care">Care</button>
        </form>
        <form id="education-search">       
            <button id="education-button" class="search-button" type="submit" value="Education">Education</button>
        </form>
        <form id="employment-search">       
            <button id="employment-button" class="search-button" type="submit" value="Employment">Employment</button>
        </form>
        <form id="legal-search">       
            <button id="legal-button" class="search-button" type="submit" value="Legal">Legal</button>
        </form>
        <form id="communication-search">       
            <button id="communication-button" class="search-button" type="submit" value="Communication">Communication</button>
        </form>
    </div>

    <div id="searchbar">
        <form id="search-form">
            <input id="name" type="text" aria-label="Search for City or Category" placeholder="Search for City or Category" autofocus>
            <button id="search-button" class="search-button" type="submit">Search</button>
        </form>
    </div>
    <div class="list-of-resources">
    <script>
        let data = {{ data2 | safe }}
    </script>
    
    </div>  

</div>
        
<!-- </div> -->


<!-- <div class="bottom-filter">
    <div class="button-container">
    {% comment %} <button class="mdc-button mdc-button--raised showDialogBtn" onclick="document.getElementById('filter01').style.display='block'" style="width:auto;">By County
    </button> {% endcomment %}
    <button class="mdc-button mdc-button--raised showDialogBtn" onclick="document.getElementById('filter02').style.display='block'" style="width:auto;"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    </button>
    <button class="mdc-button mdc-button--raised showDialogBtn" onclick="document.getElementById('filter03').style.display='block'" style="width:auto;"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i>
    </button>
    {% comment %} <button class="mdc-button mdc-button--raised showDialogBtn " onclick="document.getElementById('filter04').style.display='block'" style="width:auto;"><i class="fa fa-th fa-2x" aria-hidden="true" label="SubCategory"></i>
    </button> {% endcomment %}
    <button class="mdc-button mdc-button--raised showDialogBtn" onclick="document.getElementById('filter05').style.display='block'" style="width:auto;"><i class="fa fa-search fa-2x"></i>
    </button>
    </div>
</div>  -->
<script src="{% static "JavaScript/resources.js"%}"></script>
{% endblock %}
