{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

    

    {% for index in records %}
    <div class="list-of-resources">
        {% for key,value in index.items %}
            {% if forloop.counter != 1 %} {% comment %} Company ID not needed {% endcomment %}
            <div class="listed-resource">
                {% if value %}
                    {% if forloop.counter == 2 %} {% comment %} Company Name {% endcomment %}
                        <h2 class="listed-name">{{ value }}</h2>
                    {% elif forloop.counter == 3 %} {% comment %} Website {% endcomment %}
                        <p class="listed-site"><a href="{{ value }}">Website</a></p>
                    {% elif forloop.counter == 4 %} {% comment %} Phone {% endcomment %}
                        {% comment %} <p class="listed-email"><a href="tel:{{ value }}">{{ value }}</a></p> {% endcomment %}
                    {% elif forloop.counter == 5 %} {% comment %} Email {% endcomment %}
                        <p class="listed-email"><a href="mailto:{{ value }}">Email</a></p>
                    {% elif forloop.counter == 6 %} {% comment %} Description {% endcomment %}
                        <p class="listed-desc">{{ value }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>  
    <br>    
    {% endfor %}


{% endblock %}