{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

    <div class="list-of-resources">
    {% for index in records %}
        <div class="listed-resource">
        {% for key, value in index.items %}
            {% if forloop.counter != 1 %} {% comment %} Company ID not needed {% endcomment %}
                {% if value %}                  
                    {% if forloop.counter == 2 %} {% comment %} Company Name {% endcomment %}
                    <div class="top-of-card"><div class="listed-name">{{ value }}</div></div>
                    {% endif %}
                    {% if forloop.counter == 3 %} {% comment %} Website {% endcomment %}
                        <span class="listed-site"><a class="contact-button" href="{{ value }}">Website</a></span>
                    {% endif %}
                    {% if forloop.counter == 4 %} {% comment %} Phone {% endcomment %} 
                        <span class="listed-phone"><a class="contact-button" href="tel:{{ value }}">Phone</a></span>
                    {% endif %}  
                    {% if forloop.counter == 5 %} {% comment %} Email {% endcomment %}
                        <span class="listed-email"><a class="contact-button" href="mailto:{{ value }}">Email</a></span>
                    {% endif %}
                    {% if forloop.counter == 6 %} {% comment %} Description {% endcomment %}
                        <div class="listed-desc">{{ value }}</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>  
    {% endfor %}
    </div>  


{% endblock %}