{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

    

    {% for index in records %}
    <div>
        {% for key,value in index.items %}
            {% if forloop.counter != 1 %}
            <div>
                {% if value %}
                {{ key }}: {{ value }} 
                {% else %}  
                {{ key }}: N/A
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>  
    <br>    
    {% endfor %}


{% endblock %}