{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
    <br><br><br>    
    <div class="detail-container">
        <div class="listed-name">{{ details.Name }}</div>
        <div>
            {% if details.Website %}
            <span class="listed-site"><a class="foo-button mdc-button" href="{{ details.Website }}"><i class="fa fa-globe"></i> Website</a></span>
            {% endif %}
            {% if details.Phone %}
            <span class="listed-phone"><a class="foo-button mdc-button" href="tel:{{ details.Phone }}"><i class="fa fa-phone"></i>  Phone</a></span>
            {% endif %}
            {% if details.Company_Email__c %}
            <span class="listed-email "><a class="foo-button mdc-button" href="mailto:{{ details.Company_Email__c }}"><i class="fa fa-envelope"></i>  Email</a></span>
            {% endif %}
        </div>
        {% if details.Monday_Friday_Hours__c %}
        <div class="listed_desc">Hours: {{ details.Monday_Friday_Hours__c }}</div>
        {% endif %}
        {% if details.Imported_Address__c %}
        <div class="listed_desc">Location: {{ details.Imported_Address__c }}</div>
        {% endif %}
        {% if details.Detailed_Description__c != None %}
            <div class="listed-desc"> {% autoescape off %}{{ details.Detailed_Description__c }}{% endautoescape %}</div>
        {% elif details.Description_Short__c != None %}
            <div class="listed-desc"> {{ details.Description_Short__c }}</div>
        {% endif %}
        {% if details.Eligibility_Criteria__c != None %}
            <div>
            <div class="listed-desc"> Eligibility Requirements: </div>
            <div class="listed-desc">{% autoescape off %}{{ details.Eligibility_Criteria__c }}{% endautoescape %}</div>
            <div>
        {% endif %}

    </div>  


{% endblock %}