$mdc-theme-primary: #059EDA;;
$mdc-theme-on-primary: #33333D;
$mdc-theme-secondary: #045A92;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: #33333D;
$mdc-theme-on-surface: #FFFFFF;
$mdc-theme-background: #33333D;
$mdc-theme-on-background: #FFFFFF;