// This file works in conjunction with Material IO info here: https://material.io/develop/web/docs/getting-started/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$fontFamily: "Open Sans", sans-serif;
@import "./variables";
@import "@material/button/mdc-button";

// .foo-button {
//   @include mdc-button-ink-colorrgb(teal);
//   @include mdc-states(teal);
// }

@import "@material/dialog/mdc-dialog";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/chips/mdc-chips";


.mdc-dialog {
  margin: auto;
  display: flexbox;
}

.mdc-button {
  box-shadow: -2px 2px 2px #b3b2b285; 
}

.text-center {
  text-align: center;
}

.mb {
  margin-bottom: 10px;
}


.bottom-filter {
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 1px;
  right: 1px;
  z-index: 1;
}

.bottom-filter .mdc-button {
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;

}
.bottom-filter .mdc-button--raised:not(:disabled){
  color: white;  
}
.bottom-filter .mdc-button--raised, .mdc-button--unelevated {
  padding: 0;
  min-width: 40px;
  min-height: 40px;
}
.bottom-filter a {
  color: white;
  text-decoration: none;
}

.bottom-back-btn {
  // background-color: rgba(51, 51, 51, 0.336);
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 1px;
  right: 1px;
  z-index: 1;
}

.bottom-back-btn .mdc-button {
  color: white;
  float: right;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
  
}
.bottom-back-btn .mdc-button--raised:not(:disabled){
  color: white;  
}

.listed-detail {
  background-color: #038dc4;
  border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    float: right;
    position: relative;
    left: 15px;
    bottom: 0px;
    box-shadow: -2px 2px 2px #b3b2b285;

}
.listed-detail i {
  color: white;
  // background-color: purple;
}
.listed-detail a{
  text-decoration: none;
}


.contact-info {
  padding: 10px;
  position: relative;
  float: left;
  left: 0px;
  bottom: -25px;
}

.contact-info i {
  color: white;
}
.material-icons.md-36 { font-size: 36px; 
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.contact-info button {

  background-color:  #038dc4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 0;
  text-decoration: none;
  margin:0;
  box-shadow: -2px 2px 2px #b3b2b285;

}

.here-is-good .contact-info {
  bottom: 20px;
}

.category-list {
  display:flex;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  // padding: 0 .5rem;
  align-items: right;
}


.category-btns-box .mdc-button {
  padding: 3px;
  margin: 3px;
  min-width: 0px;
  border: .5px solid rgb(184, 182, 182);
  border-radius: 50%;
}

.category-btns-box i {
  width: 50px;
  padding: 0;
}

.city-filter-box .mdc-button {
  padding: 3px;
  margin: 3px;
  min-width: 0px;
  border: .5px solid rgb(184, 182, 182);
  border-radius: 50%;
}

.info-menu {
  margin: 0 15px 15px 15px;
  padding: 0 5px 5px 5px;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.637); 
}
.accessibility {
  margin: 50px 15px 15px 15px;
  padding: 0 5px 5px 5px;
  border-radius: 10px;
  background-color: white;
  padding: 15px;

}
.accessibility h2 {
  font-size: 18px;
  border-bottom: 1px solid black;
}
.accessibility p {
  font-size: 12px;
}

.welcome {
  // font-family: "OpenDyslexic";
  font-size: 56px;
  color: #059EDA;
  border-radius: 10px;
  margin-bottom: 0;
}
.welcome p {
  margin-bottom: 0;
}
.clearfix {
  overflow: auto;
}


