@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$fontFamily: "Open Sans", sans-serif;

@import "@material/button/mdc-button";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

@import "@material/dialog/mdc-dialog";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

body {
  font-family: $fontFamily;
}

.text-center {
  text-align: center;
}

.mb {
  margin-bottom: 10px;
}