header {
    width: 100%;
    height: 1.5em;
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    color: white;
    background-color: #00adef;
    text-shadow: 2px 2px black;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    background-image: url("../img/CEF_silhou_blue.jpg");
    background-size: contain;
    background-position: 80%;
    
}

#navigation {
    width: 100%;
    position: fixed;
    z-index: 10;
}
nav { 
    padding-left: 20px;
    background-color:#00adef;
}



body {
    background-color: #eae7e7;
}

.container {
    padding-top: 80px;
}
.detail-container{
    margin: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
    /* max-width: 375px; */
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    background-color: white;
}
.pagination{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.list-of-resources{
    display: flex;
    flex-flow: column;
    align-items: left;
    text-align: left; 
}

.listed-resource{
    margin: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
    /* max-width: 375px; */
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    background-color: white;
}
.listed-resource:hover {
  transform: scale(1.03, 1.03);
  cursor: pointer;
  box-shadow: -3px 4px 8px 2px #c0c0c0;
}
.listed-name{
    font-size: 20px;    
    /* text-align: center; */
    margin: 0 0 .5rem 0;
    padding: .5rem 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: #00adef; */
    color: white;
    background-clip: padding-box;
    box-shadow: -2px 3px 7px 1px lightgrey;
    background-image: radial-gradient(circle at top right, #00adef, #038dc4);
}
.listed-site{
    margin: 0;
    padding-left: 1rem; 
}
.listed-criteria{
    font-weight: bold;
    font-size: 30px;
}
.contact-button{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px lightgrey;
    background-image: linear-gradient(to top right, rgb(232, 230, 230), white);
    color: black; 
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 1px 3px;
}
.listed-phone{  
    margin: 0;
    padding-left: 1rem;  
}
.listed-email{
    margin: 0;
    padding-left: 1rem;   
}
.listed-desc{
    margin: 0;
    padding: .25rem .5rem .5rem .5rem; 
    border-top: 1px solid #a5a3a3;
}