/* @import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list"; */

:root {
    --blue01: #045A92;
    --blue02: #057AB4;
    --blue03: #058BC7;
    --blue04: #059EDA;
    --blue05: #06ACE9;
    --blue06: #2CB9EC;
    --blue07: #51C6EE;
    --blue08: #82D5F3;
    --blue09: #B3E6F8;
    --blue10: #E1F5FC;
    --orange01: #C92916;
    --orange02: #E1391C;
    --orange03: #EF411F;
    --orange04: #FD4824;
    --orange05: #FF4F27;
    --orange06: #FF6C44;
    --orange07: #FF8765;
    --orange08: #FFA991;
    --orange09: #FFCBBB;
    --orange10: #FDE9E6;
  
    --bg-color: var(--blue10);
    --text-color: var(--blue01);
}
body {
    background-color:#efebe9 !important;
}
header {
    width: 100%;
    height: 1.5em;
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    color: white;
    background-color: #00adef;
    text-shadow: 2px 2px black;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    background-image: url("../img/CEF_silhou_blue.jpg");
    background-size: contain;
    background-position: 80%;   
}
nav {
overflow: hidden;
  position: fixed;
  width: 98%;
  bottom: 1px;

}
nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.main-title2 {
    text-decoration: none;
    color: white;

}

.banner {
    width: 100%;
    background-image: radial-gradient(circle at top right, #00adef, #038dc4);    /* margin: 0rem .5rem 1rem .5rem; */
    border-top: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    padding-left: 20px;
    position: fixed;
    z-index: 10;
}
.banner h1 {
    font-size: 24px;
    margin: 0;
}

.overline-title {
    font-size: 14pt;
    color: black;
    background-color: rgba(255, 255, 255, 0.637);
    /* line-height: 50%s; */
    margin: auto;
    
}

.info-span {
    /* line-height: 100%; */
   
}


.material-icons {
    padding: .5rem;
  }
  


#navigation {
    width: 100%;
    position: fixed;
    z-index: 10;   
}

.content-container {
    padding-top: 50px;
    margin-left: 10px;
}
.detail-container{
    display: flex;
    flex-flow: column;
    margin: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    background-color: white;
}
.detail-container :nth-child(1) {order: 1;}
.detail-container :nth-child(2) {flex: 1 0 33%; order: 2;}
.detail-container :nth-child(3) {flex: 1 0 33%; order: 2;}
.detail-container :nth-child(4) {order: 3;}
.detail-container :nth-child(5) {order: 5;}
.detail-container :nth-child(6) {order: 5;}
.detail-container :nth-child(7) {order: 4;}
.detail-container :nth-child(8) {order: 2;}

.pagination{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.list-of-resources{
    display: flex;
    flex-flow: column;
    align-items: left;
    text-align: left; 
}

.listed-resource{
    margin: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
    /* max-width: 375px; */
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.resouces-number{
    text-align: center;
}

.listed-name h3{
    font-size: 24px;    
    margin: 0 0 .5rem 0;
    padding: .5rem 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    background-clip: padding-box;
    box-shadow: -2px 3px 7px 1px lightgrey;
    background-image: radial-gradient(circle at top right, #00adef, #038dc4);
}
.listed-site{
    margin: 0;
}
.listed-criteria{
    font-weight: bold;
    font-size: 30px;
}
.contact-button{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px lightgrey;
    background-image: linear-gradient(to top right, rgb(232, 230, 230), white);
    color: black; 
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 1px 3px;
}
.listed-phone{  
    margin: 0;
    /* padding-left: 1rem;   */
}
.listed-email{
    margin: 0;
    padding-left: .5rem; 
    /* padding-right: .5rem;   */
}
.listed-map {
    margin: 0;

}
.google-search {
    margin:0;
}

.listed-cat {
    padding: 0;
    margin: .3rem;
    float: right;
}
.listed-cat i {
    padding: 0;
    margin: 0;
    float: right;
}
.listed-desc{
    margin: .5rem; 
    padding: .25rem .5rem .5rem .5rem; 
    /*border-top: 1px solid #a5a3a3; */
}

  
.cancelbtn { 
    padding: 14px 20px; 
    background-color: var(--blue08); 
} 
  
  
.cancelbtn,.signupbtn {float:left;width:50%} 
  
  
.modal { 
    display: none;  
    position: fixed;  
    z-index: 1; left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4);  
    padding-top: 60px; 
} 
  
  
.modal-content { 
    background-color: #fefefe; 
    /* margin: 5% auto 15% auto;   */
    border: 1px solid #888; 
    width: 100%;   
} 
  
  
.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 
  
.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 
  
  
.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
} 

.mdc-dialog {
    /* display: none;   */
    /* position: fixed;   */
    z-index: 1; left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4);  
    padding-top: 60px; 
}

.mdc-dialog button {
    float:left;
    width:50%;
}


.category-search-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#search-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#name{
    margin: .5rem;
    width: 30%;
    min-width: 300px;
    height: 30px;
    font-size: 20px;
}
#search-button {
    margin: 0;
    background-color: #058BC7;
    color: white;
    max-width: 8rem;
    border: 1px solid black;

}
.filter-title{
    margin: 0;
    margin-top: .5rem;
    text-align: center;
}
.filter-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    height: 100px;
    max-height: 200px;
}
.filter-toggles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.toggleButton{
    margin: 2px 2px;
    background-color: #B3E6F8;
    border: 1px solid black;
    border-radius: 5px;

}
.toggle-selected{
    background-color: #045A92;
    color: white;
}
.hide{
    height: 0;
    display: none;
}
.category-search-header{
    display: flex;
}
.category-header{
    margin-right: 1rem;
}
.filter-city-header{
    display: flex;
}
.filter-header{
    margin-right: 1rem;
}
.i-emergency {
    color: #ef5350;
}
  
.i-food {
    color:#26a69a;
}

.i-housing {
    color:#7e57c2;
}
  
.i-goods {
    color: #d4e157;
}

.i-transportation {
    color: #66bb6a;
}
  
.i-health {
    color: #f27fcd;
}

.i-finances {
    color: green;
}
  
.i-care {
    color: #9ccc65;
}

.i-education {
    color:#ab47bc;
}
  
.i-employment {
    color: #ffa726;
}

.i-legal {
    color: #8d6e63;
}
  
.i-communication {
    color: #ec407a;
}

.here-is-good {
    margin: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
    /* max-width: 375px; */
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -2px 3px 7px 1px #a0a0a0;
    background-color: white;
}
.off {
    background-color: grey;
  }

.h3style {
      color: #00adef;
      border-bottom: 1px solid #a5a3a3;
      font-size: .9rem;
      text-transform: uppercase;
      padding-left: .5rem;
      letter-spacing: 0.1em;
      margin: 0;
  }

.infodiv {
    padding: 1rem;
}

#clear-button {
    margin: 0;
    background-color: white;
    color: #058BC7;
    max-width: 8rem;
    border: 1px #058BC7;
}

.h3index {
        text-align: center;
        color: #058BC7;
}
.search-btns-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btns-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.index-button {
    
    /* background-color: white; */
    color: #058BC7;
    max-width: 10rem;
    border: 1px #058BC7;
    text-align: center; 
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: .2rem;
    border: 1px #058BC7;
<<<<<<< HEAD
    /* align-items: center; */
}
=======
    display: flex;
    justify-content: center;
}
>>>>>>> master
